@charset "UTF-8";
body{
  background-image: url(../IMG_2986.JPG);
}

h1 span{
  color:#008080;
}

h2{
  font-size:1.25em;
  color: #000000;
  border: #000000 1px dotted;
  background-color: #ffff00;
  font-weight: bold;
  padding: 5px 20px;
}
h2:first-letter{font-size: 1.75em}

#museum{
  color:#ff0000;
}

.station{
  color:#4682b4;
}
