@charset "UTF-8";
body{
  background-image: url(../IMG_2986.JPG);
}

h1 span{
  color:#008080;
}

h2{
  font-size:70%;
  padding: 20px 0px;
  padding-right: 30px;
  border: #000000 1px dotted;
  background-color: #ffff00;
  font-weight: bold;
}

#museum{
  color:#ff0000;
}

.station{
  color:#4682b4;
}
